* {
  font-family: "lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  background-color: #6030b1;
    margin: 0 12px;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
    border: none;
}

.nav__link--anchor-primary {
  border-radius: 50%;
  padding: 15px;
}

#personal-logo {
  width: 200px;
}